/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/

html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  background: linear-gradient(rgba(0, 153, 0, 0.4), rgba(0, 153, 0, 0.4)),
    url("https://res.cloudinary.com/cremz/image/upload/c_scale,h_800,q_100,w_1000/v1526394565/metal.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.hero,
.favFont {
  font-family: "New Rocker", cursive;
  letter-spacing: 3px;
}

.knockoutText,
.knockoutText:hover {
  background: url("https://res.cloudinary.com/cremz/image/upload/v1512678598/texture2_slp1as.png")
    center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.knockoutText:hover,
.cvTitle:hover {
  transform: skew(-20deg) scale(1.1);
  -webkit-transform: skew(-20deg) scale(1.1);
}

.navigTab {
  margin: 5px;
  padding: 5px !important;
  border-radius: 5px;
  background: rgba(243, 242, 242, 0.8);
}

.active {
  background: rgba(204, 255, 230, 0.7);
}

.navig {
  padding: 2% 20%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
}

.favBg {
  border-radius: 5px;
  background: rgba(243, 242, 242, 0.8);
}

.favBg2 {
  background: rgba(243, 242, 242, 0.8);
}

.favFont2 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

.favFont3 {
  font-family: "Open Sans", sans-serif;
}

.favFont4 {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
}

.slogan {
  padding: 10px;
}

.footer {
  background: rgb(0, 26, 0) !important;
  width: 100%;
}

.footP a {
  color: rgb(0, 153, 0);
}

.footP a:hover {
  color: rgb(0, 255, 0);
  text-decoration: none;
}

.footP2 {
  margin-top: 10px;
}

/* about styles*/

.heroAbout {
  background: linear-gradient(rgba(0, 153, 0, 0.5), rgba(0, 153, 0, 0.5)),
    url("https://res.cloudinary.com/cremz/image/upload/c_scale,h_300,q_100,w_1200/v1531318322/Site/unicorn.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.about {
  padding: 5%;
  color: #163201;
}

.owl {
  width: 250px;
  height: 252px;
  display: block;
  margin: auto;
  padding: 4%;
}

.card-image {
  border-bottom: 1px solid black;
  padding: 10%;
}

.card .fa-html5 {
  color: #e34c26;
}

.card {
  background: linear-gradient(rgba(0, 153, 0, 0.55), rgba(0, 153, 0, 0.5)),
    url("https://res.cloudinary.com/cremz/image/upload/v1525183170/sand_texture_small.jpg");
  border: 1px solid #555;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6) !important;
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6) !important;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6) !important;
  -o-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6) !important;
  border-radius: 5px;
  height: 100%;
}

.card-content .button {
  background: linear-gradient(rgba(0, 153, 0, 0.6), rgba(0, 153, 0, 0.5));
  border: 1px solid rgb(0, 51, 0);
  margin: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.skills h1,
.certs h1 {
  padding-bottom: 2%;
}

.certs p {
  margin: 10px;
}

/* portfolio styles*/

.heroPortfolio {
  background: linear-gradient(rgba(0, 153, 0, 0.5), rgba(0, 153, 0, 0.5)),
    url("https://res.cloudinary.com/cremz/image/upload/c_scale,h_300,q_100,w_1300/v1531501961/Site/portfolio.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.porto:hover {
  transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
}

.section h1 {
  margin-bottom: 20px;
}

.section h2 {
  text-decoration: underline;
  margin-bottom: 10px;
}

.firstcol {
  margin-bottom: 30px !important;
}

/* resume styles*/

.heroResume {
  background: linear-gradient(rgba(0, 153, 0, 0.5), rgba(0, 153, 0, 0.5)),
    url("https://res.cloudinary.com/cremz/image/upload/c_scale,h_300,q_100,w_1200/v1531505311/Site/dawn.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.cv {
  margin-top: 10% !important;
}

.leftSide {
  background: linear-gradient(100deg, rgb(0, 0, 51), rgb(41, 82, 163));
  font-family: "Lato", sans-serif !important;
}

.leftSide h1 {
  margin-top: 50px !important;
}

.leftSide h2,
.leftSide p {
  padding: 20px !important;
  margin-left: 10px;
  margin-right: 10px;
}

.work,
.edu,
.skill {
  letter-spacing: 1px;
  margin-right: 20px !important;
  margin-left: 20px !important;
}
.edu {
  padding-bottom: 30px;
}

.rightSide h1 {
  padding-top: 30px;
  padding-bottom: 10px;
}

.rightSide h2 {
  padding-bottom: 10px;
}

.rightSide {
  padding-bottom: 30px;
  font-family: "Lato", sans-serif !important;
}

.heroContact {
  background: linear-gradient(rgba(0, 153, 0, 0.5), rgba(0, 153, 0, 0.5)),
    url("https://res.cloudinary.com/cremz/image/upload/c_scale,h_300,q_100,w_1300/v1531920734/Site/bird.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.contactme {
  margin-top: 5%;
  margin-bottom: 5%;
}

.cont {
  color: #163201;
}

.me {
  width: 30%;
  height: 30%;
  display: block;
  margin: auto;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    65% 80%,
    48% 100%,
    41% 82%,
    0% 75%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    65% 80%,
    48% 100%,
    41% 82%,
    0% 75%
  );
}

.mailme,
.mailme:hover {
  color: rgb(0, 102, 0);
}

.socials {
  background: url("https://res.cloudinary.com/cremz/image/upload/v1512678598/texture2_slp1as.png")
    center;
  color: #163201;
  padding: 10px;
}

.socials:hover {
  -ms-transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0); /* IE 9 */
  -webkit-transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(0, 0); /* Safari */
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
}

.socialStuff {
  padding-top: 5%;
}

@media only screen and (max-width: 500px) {
  .slogan {
    width: 80%;
  }

  * {
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
  }
  
}
