html {
  height: 100%;
}

body {
  background: linear-gradient(rgba(0, 153, 0, 0.3), rgba(0, 153, 0, 0.3)),
    url("https://res.cloudinary.com/cremz/image/upload/c_scale,h_800,q_100,w_1000/v1526394565/metal.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-origin: content-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro {
  background: linear-gradient(rgba(0, 153, 0, 1), rgba(0, 153, 0, 1));
}

.pageName {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  z-index: 1;
  font-family: "New Rocker", cursive;
  letter-spacing: 3px;
  color: rgba(245, 245, 245, 1) !important;
}

.pagePhoto {
  padding: 0;
  margin: 0;
  opacity: 0.6;
  width: 100%;
}

.nav-item {
  background: rgba(243, 242, 242, 0.8);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
}

.nav-link,
.slogan {
  background: url("https://res.cloudinary.com/cremz/image/upload/v1512678598/texture2_slp1as.png")
    center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav-link:hover,
.slogan:hover {
  background: url("https://res.cloudinary.com/cremz/image/upload/v1512678598/texture2_slp1as.png")
    center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: skew(-20deg) scale(1.1);
  -webkit-transform: skew(-20deg) scale(1.1);
}

.active {
  background: rgba(204, 255, 230, 0.7) !important;
}

.info {
  background: rgba(243, 242, 242, 0.8);
  font-family: "New Rocker", cursive;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.info1 {
  width: 80%;
}

.cvTitle {
  font-family: "Lato", sans-serif !important;
  color: #1a3a01;
  letter-spacing: 3px !important;
  font-size: 30px !important;
}

.cvTitle:hover {
  transform: skew(-20deg) scale(1.1);
  -webkit-transform: skew(-20deg) scale(1.1);
}

.info2 {
  width: 70%;
}

.cvcontent {
  font-family: "Lato", sans-serif !important;
  color: #0b1901 !important;
  border-radius: 0px !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.description1 {
  padding: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
}

h5 {
  letter-spacing: 2px;
}

.description1 b,
.cvskills1 b {
  margin-right: 3px !important;
}
object .description1 a {
  color: rgb(0, 77, 0);
}

.description1 a:hover {
  color: rgb(0, 51, 0);
  text-decoration: none;
}

.introduction,
.cvskills {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.introduction1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px;
}

.cvskills1 {
  display: flex;
  flex-direction: column;
  width: 22%;
  padding: 20px;
}

h2 {
  font-size: 30px !important;
  letter-spacing: 3px !important;
}

.description2 {
  font-style: italic;
  font-size: 18px;
}

.heads {
  letter-spacing: 2px;
  font-size: 20px;
}

td {
  text-align: center;
  padding: 10px !important;
  vertical-align: middle !important;
}

.job {
  width: 25%;
  letter-spacing: 1px;
}

.achieved,
.know {
  width: 35%;
  letter-spacing: 1px;
  font-size: 18px !important;
}

.title1,
.year {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
}

.title2 {
  font-style: italic;
  font-size: 16px;
  text-decoration: underline;
  letter-spacing: 2px;
}

.title3 {
  letter-spacing: 1px;
  font-size: 17px !important;
}

.edu {
  text-decoration: underline;
  font-style: italic;
}

.job2,
.know2 {
  letter-spacing: 1px;
  width: 45%;
  font-size: 17px;
}

.pdfFile {
  width: 500px !important;
  height: 600px !important;
  display: block;
  margin: auto;
}

.pdfHead {
  font-family: "Lato", sans-serif !important;
}

.pdfLink {
  font-family: "Lato", sans-serif !important;
  font-size: 20px;
  display: block;
  margin: auto;
  width: 200px;
}

footer {
  background: rgb(0, 26, 0);
  padding: 20px;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

footer a {
  color: rgb(0, 153, 0);
  padding-left: 3px;
  padding-right: 3px;
}

footer a:hover {
  color: rgb(0, 255, 0);
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .pageName {
    font-size: 20px !important;
    position: absolute;
    top: 10% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    z-index: 1;
  }

  .slogan {
    font-size: 25px !important;
    padding: 5px;
  }

  .nav {
    display: flex;
    flex: 1;
  }

  .row1,
  .row2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    font-size: 12px !important;
  }

  .cvTitle {
    font-size: 20px !important;
    padding: 5px;
  }

  .cvcontent {
    display: none;
  }

  .pdfFile {
    display: none;
  }
}
