body,
html {
  width: 100%;
  height: 100%;
  
}
body {
  background: url("https://res.cloudinary.com/cremz/image/upload/c_scale,q_100,w_993/v1512678598/texture2_slp1as.png")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 55px;
  padding-bottom: 50px;
}
.navbar-brand, footer span {
  font-family: "Rock Salt", cursive;
}
.navbar-dark {
  background-color: rgba(0, 153, 0, 0.75);
  font-family: "Rubik", sans-serif;
  letter-spacing: 3px;
}

#jumbo {
  background-color: rgba(216, 212, 212, 0.85);
  font-family: "Rubik", sans-serif;
  letter-spacing: 3px;
  width: 100%; 
}
.display-4, .dev, .fab, footer a {
  background: url("https://res.cloudinary.com/cremz/image/upload/v1525183170/sand_texture_small.jpg") center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.card {
 background:  
 linear-gradient(
      rgba(0, 153, 0, 0.55), 
      rgba(0, 153, 0, 0.5)
    ),
url("https://res.cloudinary.com/cremz/image/upload/v1525183170/sand_texture_small.jpg");
border: solid 1px #555; 
box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6); 
-moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6); 
-webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
-o-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
 
}
.card-body {
  font-family: "Rubik", sans-serif;
  color: #F0FFFF;
  text-align: center;
}
.card-body a {
  background:  
 linear-gradient(
      rgba(0, 153, 0, 0.55), 
      rgba(0, 153, 0, 0.5)
    );
  color: black;
}

.page {
  display: none;
  font-family: "Rubik", sans-serif;
  background-color: rgba(216, 212, 212, 0.85);
  letter-spacing: 3px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.description {
  font-family: "Rubik", sans-serif;
  color: #1a3a01;
  width: 70%;
  margin: auto;
  display: block;
}
.fab:hover {
 
 -ms-transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0); /* IE 9 */
    -webkit-transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0); /* Safari */
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
}
footer {
  background-color: rgba(2, 76, 2, 0.75);
  letter-spacing: 3px;
  margin-top: 20px;
  padding: 10px;
}
footer a:hover {
  color: black;
  text-decoration-style: none;
}